

ul {
    list-style: none;
}

#side_box .list-group-item {
    border: none;
    padding: 0.4rem 0;
}

.breed-header:hover {
    background-color: #f8f9fa;
}

.breed-header {
    border-radius: 4px;
    padding: 5px;
}

#side_box ul {
    list-style-type: disc;
    padding-left: 1.5rem;
}


#side_box .btn-link {
    text-decoration: none;
}


img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header{
    position: sticky;
    top: 0px;
    z-index: 99;
}